# Aliyun secrets
# Replace with your real Aliyun AccessKey and Secret
ALIBABA_CLOUD_ACCESS_KEY_ID=your_access_key_id
ALIBABA_CLOUD_ACCESS_KEY_SECRET=your_access_key_secret

# Aliyun service configurations
# Replace with your real service configurations
REGION=cn-hangzhou
BUCKET=your_bucket_name
OTS_INSTANCE=your_ots_instance_name
OTS_TABLE=your_ots_table_name

# YOLO model configurations
# The model path in the container
MODEL_PATH=/code/bird_detection/model.pt
CONFIDENCE=0.5

# Application configurations
# These are default values, you can change them if you need
UPLOADS_PREFIX=uploads/
PREVIEW_PREFIX=preview/
THUMBS_PREFIX=thumbs/
MAX_SCAN_LIMIT=1000
YOLO_CONFIG_DIR=/tmp/yolo_config
ULTRALYTICS_CONFIG_DIR=/tmp/ultralytics_config